<% title "Galleries" %>
<%
  collectionstring=String.new
  @collections.each do |collection| 
    collectionstring = collectionstring + " " + collection.name
  end
  description "Galleries -"+collectionstring 
%>

<div id="page-content">
  <div class="galleries-content">
    <%= render "gallery_list" %>
  </div>
</div>
