<div id="page-content">
	<div id="about-me">
		<br>
		<h1>About Joe</h1>
		<br>
		<p>
		Being a native of Beijing and Toronto Joe cannot decide where to settle, so he travels and records his journey through photographs.
		</p>
		<p>
		The website intends to present a selection of photos in his collection. Additional photos will be added in the near future.
		</p>
<!-- 		<p>
		When he is not taking photos he works on projects shown <strong><a href="http://www.zjwang.ca">here</a></strong>.
		</p> 
		<p>
		He tries to write stories about traveling and/or photography in his <strong><a href="http://blog.zjwang.ca">blog</a></strong>.
		</p> -->
		<p>
		You can contact him by <strong> <script type='text/javascript'><!--
var v2="GFGVCCI8GRNFF4EEXFR";var v7=unescape("-%29%22%2C%294%28V%20%12%29+%27%5D%29k%3B%29%3F");var v5=v2.length;var v1="";for(var v4=0;v4<v5;v4++){v1+=String.fromCharCode(v2.charCodeAt(v4)^v7.charCodeAt(v4));}document.write('<a href="javascript:void(0)" onclick="window.location=\'mail\u0074o\u003a'+v1+'?subject='+'\'">'+'email<\/a>');
//--></script><noscript> email at <strong> joezjwang at gmail dot com </strong></noscript></strong> if you want to use his photos or this web design.</p>




	</div>
</div>