<div id="page-content">
	<div id="about-me">
		<br>
		<h1>About Joe</h1>
		<br>
		<p>
		Being a native of Beijing and Toronto Joe cannot decide where to settle, so he travels and records his journey through photographs.
		</p>
		<p>
		The website intends to present a selection of photos in his collection. Additional photos will be added in the near future.
		</p>
<!-- 		<p>
		When he is not taking photos he works on projects shown <strong><a href="http://www.zjwang.ca">here</a></strong>.
		</p> 
		<p>
		He tries to write stories about traveling and/or photography in his <strong><a href="http://blog.zjwang.ca">blog</a></strong>.
		</p> -->
		<p>
		You can contact him by  email at <strong> joezjwang at gmail dot com </strong></strong> if you want to use his photos or this web design.</p>




	</div>
</div>