<% title "Aboot" %>
<% description "About Joe, About the website" %>
<% og_page_url request.original_url %>

<div id="page-content">
	<div id="about-me">
		<br>
		<h2>About Joe</h2>
		<p>
		Being a native of Beijing and Toronto Joe cannot decide where to settle, so he travels and records the journey through photographs.
		</p>
		<p>
		The website intends to present a selection of photos in his collection. Additional photos and stories will be added in the near future.
		</p>
		<p>
		Please contact Joe before using his photos or stories for publication. He can be reached by email at <strong> joezjwang at gmail dot com </strong></strong> </p>
		<br>
	<h2>About Website</h2>
	<p>It started as a simple PHP gallery and evolved into a Ruby on Rails application. Much of what you see now was designed while staying in the city of Tashkorgan the western most Aryan establishment in the World, at an elevation of 3100m/10000ft.</p>
	</div>

</div>