<% title "About" %>
<% description "About Joe, About the website" %>
<% og_page_url request.original_url %>

<div id="page-content">
	<div id="about-me">
		<br>
		<h2>About</h2>

		<p>This website intends to present a selection of photos in Joe's collection. Additional photos and stories will be added in the near future. The website was designed while staying in the city of Tashkorgan. The source code of the website is available on <%= link_to "github", "https://github.com/joezjwang/joewangphoto", target: :blank %>.</p>
		<p>
		Please contact Joe before using his photos or stories for commercial purposes. He is based in Toronto and can be reached by email at <strong> joezjwang at gmail dot com </strong>.</p>
		
		<div class="photograph"><img src="/images/about_landscape.jpg"></div>
	<br><br>
	</div>

</div>
