<% title "About" %>
<% description "About Joe, About the website" %>
<% og_page_url request.original_url %>

<div id="page-content">
	<div id="about-me">
		<br>
		<h2>About</h2>

		<p>
		Please contact Joe before using his photos or stories for commercial  purposes. He is based in Toronto and can be reached by email at <strong> joezjwang at gmail dot com </strong></strong>.</p>

		<p>This website intends to present a selection of photos in Joe's collection. Additional photos and stories will be added in the near future. The website was created from scratch, starting from a simple PHP gallery to a Ruby on Rails application. Much of what you see now was designed while staying in the city of Tashkorgan at an elevation of 3100m/10000ft. The code is of the website is available under CC license on <%= link_to "github", "https://github.com/joezjwang/joewangphoto", target: :blank %>.</p>
	</div>

</div>
