<% title "Contact" %>
<% description "Contact Joe" %>
<% og_page_url request.original_url %>

<div id="page-content">
	<div class="position: relative;">
	
<div style="margin: 0; position: absolute; top: 60%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); text-align:center; ">

		<script type='text/javascript'>
        	var v2="GFGVCCI8GRNFF4EEXFR";var v7=unescape("-%29%22%2C%294%28V%20%12%29+%27%5D%29k%3B%29%3F");var v5=v2.length;var v1="";for(var v4=0;v4<v5;v4++){v1+=String.fromCharCode(v2.charCodeAt(v4)^v7.charCodeAt(v4));}document.write('<a href="javascript:void(0)" onclick="window.location=\'mail\u0074o\u003a'+v1+'?subject='+'\'">'+'<div class=\'share-button\'>Click to E-mail Joe &#x2709;</div><\/a>');
      	</script><noscript><a href="http://"><img src="/images/email-icon-AAA-24.png"></a></noscript>

		<br>

		<a href="http://instagram.com/_u/joewangphoto"><div class="share-button">Instagram: @joewangphoto &#x27A6;</div></a>

	</div>

	</div>

</div>