<% title "" %>
<% description "Photos by Joe Wang, based in Toronto or about anywhere" %>

<script>
  $(function() {
    $(".rslides").responsiveSlides({
	  speed: 900,
	  timeout: 10000,    
    });
  });

  function changeSlideHeight () {
    var pageHeight = jQuery(window).height();
    var pageWidth = jQuery(window).width();

    if (pageWidth>768) {
        var photoHeight = pageHeight-50;
        var photoWidth = photoHeight*3/2;
        console.log(photoWidth);
        
        $('#slideshow-asset').css({ "max-width": photoWidth + 'px' });
    }
  }

  window.onload = changeSlideHeight;

</script>

<div id="page-content">
	<% if mobile_device? %>
		<div id="slideshow-asset-mobile">
	<% else %>
		<div id="slideshow-asset">
	<% end %>
	  <ul class="rslides">
	  	<% if @photographs.present? %>
		  <% @photographs.each do |photograph| %>
		   <% if mobile_device? %>
		   <%= image_tag(photograph.photo.url(:mobile_large), alt: photograph.title) %>
		   <% else %>
		  	<%= image_tag(photograph.photo.url(:pc_large), alt: photograph.title) %>
		  	<% end %>
		  <% end %>
		<% end %>
	  </ul>
	</div>
</div>