<% title "" %>
<% description "Photos by Joe Wang, based in Toronto or about anywhere" %>

<script>
  $(function() {
    $(".rslides").responsiveSlides({
	  speed: 900,
	  timeout: 10000,    
    });
  });
</script>

<div id="page-content">
	<% if mobile_device? %>
		<div id="slideshow-asset-mobile">
	<% else %>
		<div id="slideshow-asset">
	<% end %>
	  <ul class="rslides">
		  <% @photographs.each do |photograph| %>
		   <% if mobile_device? %>
		   <%= image_tag(photograph.photo.url(:mobile_large)) %>
		   <% else %>
		  	<%= image_tag(photograph.photo.url(:pc_large)) %>
		  	<% end %>
		  <% end %>
	  </ul>
	</div>
</div>