<script>
  $(function() {
    $(".rslides").responsiveSlides({
	  speed: 900,
	  timeout: 10000,    
    });
  });
</script>

<div id="pure-g">
	<div id="page-content">
		<div id="slideshow-asset">
		  <ul class="rslides">
			  <% @photographs.each do |photograph| %>
			  	<%= image_tag(photograph.photo.url(:large)) %>
			  <% end %>
		  </ul>
		</div>
	</div>
</div>