<style type="text/css">


    pre {
      margin-top:50px;
      margin-bottom:50px;
    }
    figure img
    {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    figure{

      padding: 0;
      margin: 0 auto;
      padding-top: 40px;
    }
    figcaption {
      text-align: center;
      font-size: 0.9em;
      font-style: italic;
      color: #666;
      padding-bottom: 30px;
      margin: 0 auto;
      width: 90%;
    }

    p{
      padding-right:50px;
      padding-left:50px;
      line-height: 1.5;
    }
  @media only screen and (max-width: 768px)  {
    figure img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }
    figure{
      padding: 0;
      margin: 0 auto;
      padding-top: 40px;
    }
    figcaption {
      width: 90%;
    }

    pre {
      margin-top:30px;
      margin-bottom:30px;
    }
    p{
      padding-right:5%;
      padding-left:5%;
      line-height: 1.6;
      color: #666;
      font-size: 1.05em;
    }
  }
</style>

<section class="post-small-asset">
  <%= link_to post_path(post) do %>
    <header class="post-small-asset-header">
      <% if post.long_title? %>
        <h2 class="post-small-asset-title" style="font-size: 17px;">
      <% else %>
        <h2 class="post-small-asset-title">
      <% end %>
      <%= post.title %>
      </h2>
      <div class="post-small-asset-meta-right"><%= post.reading_time %> min read
      </div>
    </header>
    <div class="post-small-asset-image">
    <% if post.cover_blogimage_id.present? %>
    <%= image_tag(Blogimage.find(post.cover_blogimage_id).image.url(:mobile_large), alt: post.title) %>
    <% end %>
    </div>
  <% end %>
</section>