<div id="page-content">

<style type="text/css">
  .post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}
</style>
<div id="recent-posts">
<% @posts.each do |post| %>

<section class="post">
      <header class="post-header">
          <img class="post-avatar" alt="Post Cover Photo" height="200" width="200" src="">

          <h2 class="post-title"><%= post.title %></h2>

          <p class="post-meta">
              <div class="post-length">5 min read</div>  <div class="post-photocount">5 Photos</a>
          </p>
      </header>

      <div class="post-description">
          <p>
          <%= post.body_preview_pc %>
          </p>
      </div>
  </section>
</div>
<% end %>


</div>