<style type="text/css">
  .post {
    padding-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-title-mobile {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.2em;
}
.post-avatar {
    float: right;
    margin-left: 2em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

</style>

<div id="page-content">
<p id="notice"><%= notice %></p>
  <% if mobile_device? %>
    <%= render 'mobile_post_asset' %>
  <% else %>
    <%= render 'pc_post_asset' %>
  <% end %>
</div>