// Place all the styles related to the Blogimages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_blogimage {
  clear: both;
}

.blogimage {
  border: solid 1px #DDD;
  padding: 6px;
  float: left;
  margin-right: 15px;
  margin-bottom: 30px;

  img.blogimage-preivew {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .title {
    padding-top: 6px;
    text-align: center;
    font-weight: bold;
    max-width: 180px;
    margin: 0 auto;
  }
  .caption {
    padding-top: 5px;
    text-align: center;
    max-width: 180px;
    margin: 0 auto;
  }

  .actions {
    font-size: 11px;
    text-align: center;
    color: #777;
  }
}

.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}

