/*Galleries List View*/

.gallery-assets-container {
  padding-top:20px;
}

.gallery-asset {
  margin: 10px 24px 50px 24px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.gallery-asset-header {
  padding: 12px 33px 12px 34px;
  height: 121px;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.gallery-asset-image {
}
.gallery-asset-image img {
  width:100%;
}
.gallery-asset-header-name{
  top: 45%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.gallery-asset-meta {
}
.gallery-asset-meta-left {
    top:10px;
    left:20px;
  }
.gallery-asset-meta-right {
    top:10px;
    right:20px;
}
/*gallery Small Asset Group Mobile*/


@media only screen and (max-width: 799px)  {

  .gallery-asset {
  }

  .gallery-asset-header {
    padding: 10px 28px 10px 28px;
  }
  .gallery-asset-image {
  }
  .gallery-asset-image img {
  }
  .gallery-asset-header-name {
  }
  .gallery-asset-meta {
    font-size: 13px;
  }
  .gallery-asset-meta-right {
    bottom:8px;
    right:15px;
  }
  .gallery-asset-meta-left {
    bottom:8px;
    left:15px;
  }

}

@media only screen and (max-width: 479px)  {

  .gallery-asset {
  }
  .gallery-asset-header {
  }
  .gallery-asset-image {
  }
  .gallery-asset-image img {
  }
  .gallery-asset-header-name {

  }
  .gallery-asset-meta {
  }
  .gallery-asset-meta-right {
    bottom:8px;
    right:15px;
  }
  .gallery-asset-meta-left {
    bottom:8px;
    left:15px;
  }

}
/*Gallery Show View PC*/

.gallery-description {

    text-align:  right;
    padding:  0px 30px;
    margin-top:  30px;
    margin-bottom: 30px;
    margin-left:  20%;
    border-right: solid #ccc;
    border-width:  8px;
    max-width: 600px;
    float:right;
    font-size:1.4em;
    font-family: 'Merriweather', serif;
    line-height: 1.69;
}

.photograph-group {
    position:  relative;
    float: left;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 80px;
    display: inline-block;
    text-align: center;
}
    
.photograph  {
    margin:  60px 0px;
    display: inline-block;
    white-space: nowrap;
}
.photograph img
{
    max-width:100%; 
    max-height:inherit;
    width: auto;
    height:auto;
    margin:auto;
    display:block;
}

.more-galleries-content {
  float:none;
  padding: 50px;
  padding-top: 80px;
  width: 100%;
  display: inline-block;
  margin:0 auto;
}

@media only screen and (max-width: 799px)  {
  
  .gallery-description  {
    text-align:  center;
    padding:  50px 30px 10px 30px;
    margin: 0;
    border-right: none;
    color:#999;
    font-size:1.4em;
  }

  .photograph-group {
    padding-left: 0px;
    padding-bottom: 40px;
  }

  .photograph  {
    position:  relative;
    width: 100%;
    padding:  30px 0px;
    text-align:  center;
    margin: 0px;
  }

  .more-galleries-content {
    float:none;
    padding: 10px;
    padding-top: 30px;
    display: inline-block;
  }

}

