/*Post Show*/
.article-body {
	width: 720px;
	font-size: 16px;
	padding-top: 70px;
	padding-bottom: 65px;
	margin: 0 auto;
}

.article-body p, figcaption {
  font-family: 'Merriweather', serif;
}
.article-body h2, h3{
  padding-top:20px;
  padding-right:50px;
  padding-left:50px;
}
.article-body p {
  padding-right:50px;
  padding-left:50px;
  line-height: 1.75;
  font-size: 18px;
}

.article-body pre {
  margin-top:50px;
  margin-bottom:50px;
}
.article-body figure img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
.article-body figure{

  padding: 0;
  margin: 0 auto;
  padding-top: 40px;
}
.article-body figcaption {
  text-align: center;
  font-size: 0.9em;
  font-style: italic;
  color: #666;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 90%;
}
.article-title {
	text-align: center;
	padding-top: 30px;
	max-width: 800px;
	font-size: 22px;
	margin: 0 auto;
}
.article-date {
	font-size: 13px;
	padding:0px 30px 0px 30px;
	color: #666;
	display: inline-block;
	float:none;
}
.article-meta {
  max-width: 720px;
	font-size: 14px;
	padding:0px 30px 10px 30px;
	text-align: right;
	float:right;
  color:#888;
}
.youtube-content {
  padding: 20px 0px 20px 0px;
  width: 720px;
  height: 480px;
  margin: 0 auto;
}
.youtube-video {
  width: inherit;
  height: inherit;
}
.show-post-assets-container {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  width: 768px;
  margin: 0 auto;
  padding-top:100px;
  padding-bottom: 70px;
}

.share-section {
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
  padding-top: 20px;
}
.share-button {
  padding: 0.5em 1em;
  color: #eee;
  margin: 10px;
  position: relative;
  font-size: 17px;
  background: #3b5998;
  display: inline-block;
}
.vk-button{ background: #45668E; }
.facebook-button { background: #3B5998; }
.weibo-button { background: #E6162D; }
.twitter-button { background: #55ACEE; }


/*Post Show Mobile (Tablet size and Phone media queries)*/

@media only screen and (max-width: 1023px)  {


  .article-body {
    width: 100%;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 70px;
    margin: 0 auto;
  }
  .article-body p{
    padding-right:5%;
    padding-left:5%;
    color: #666;
    font-size: 16px;
    line-height: 1.65;
  }
  .article-body h2{
    padding-right:5%;
    padding-left:5%;
    font-size: 20px;
  }
  .article-body h3{
    padding-top:15px;
    padding-right:5%;
    padding-left:5%;
    font-size: 18px;
  }
  .article-body img {
    width:100%;
  }
  .article-body figure img
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
  }
  .article-body figure{
    padding: 0;
    margin: 0 auto;
    padding-top: 40px;
  }
  .article-body figcaption {
    width: 90%;
  }

  .article-body pre {
    margin-top:30px;
    margin-bottom:30px;
  }

  .article-title {
    text-align: center;
    padding-top: 55px;
    max-width: 90%;
    font-size: 20px;
    margin: 0 auto;
  }
  .article-date {
    font-size: 13px;
    padding:0px 10px 0px 10px;
  }
  .article-meta {
    width: 90%;
    font-size: 13px;
    padding:0px;
    text-align: center;
    margin: 0 auto;
    float: none;
  }
  .youtube-content {
    width: 360px;
    height: 240px;
  }
  .youtube-video {
    width: inherit;
    height: inherit;
  }
  .show-post-assets-container {
    padding-top: 40px;
    padding-bottom: 30px;
  }

}

/*Post Assets*/
/*Post Large Asset*/

  .post-large-asset {
    position: relative;
    overflow: hidden;
    margin: 30px 24px 80px 24px;
    width: 720px;
    background-color: #f8f8f8;
    border:  0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .post-large-asset-header {
    padding: 15px 25px 25px 30px;
    position: relative;
    height: 140px;
    overflow: hidden;
    border:  #EEE solid 1px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .post-large-asset-image {
    position: relative;
    clear: both;
    line-height: 0;
    background-color: #E2E3E4;
    width: 720px;
    height: 480px;
  }

  .post-large-asset-title{
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    line-height: 33px;
    top: 27%;
    left: 50%;
    margin-right: -50%;
    letter-spacing: 0.6px; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
  }

  .post-large-asset-meta {
    position: absolute;
    font-size: 15px;
    color: #777;
    bottom:14px;
  }
  
  .post-large-asset-meta-reading-time {
    right:30px;
  }
  .post-large-asset-meta-published-date {
    left:30px;
  }

/*Post Small Asset Group PC*/

/* note repeated code is present, see collections.css */
  .post-small-asset {
    margin: 10px 24px 50px 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .post-small-asset-header {
    height: 121px;
    padding: 15px 18px 30px 20px;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .post-small-asset-image {
    
  }
  .post-small-asset-image img {
    height:100%;
  }
  .post-small-asset-title{
    top: 25%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .post-small-asset-meta {
  }

  .post-small-asset-meta-reading-time {
    bottom:10px;
    right:20px;
  }
  .post-small-asset-meta-published-date {
    bottom:10px;
    left:20px;
  }

@media only screen and (max-width: 1023px)  {

/*THis is relavent for mobile user who is viewing the website
in desktop view. It basically copies the small asset styles into
the large asset converting it to the correct mobile size. This is
no used in most cases as is_mobile? handles it*/

  .post-large-asset {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    float: none;
    width: 450px;
  }
  .post-large-asset-header {
    padding: 15px 18px 30px 20px;
    height: 121px;
  }
  .post-large-asset-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    clear: both;
    line-height: 0;
    background-color: #E4E4E4;
    height: 300px;
    width:100%;
  }
  .post-large-asset-image img {
    height:100%;
  }
  .post-large-asset-title{
    font-size: 19px;
    line-height: 1.45;
    overflow: hidden;
  }
  .post-large-asset-meta {
    font-size: 14px;
  }
  .post-large-asset-meta-reading-time {
    bottom:10px;
    right:20px;
  }
  .post-large-asset-meta-published-date {
    bottom:10px;
    left:20px;
  }
}

@media only screen and (max-width: 479px)  {
  .post-large-asset {
    width: 89%;
  }
  .post-large-asset-title {
    font-size: 16px;
    line-height: 1.35;
  }
  .post-large-asset-image {
    height:auto;
    width:100%;
  }
  .post-large-asset-image img {
    width:100%;
    height: auto;
  }
  .post-large-asset-meta {
    font-size: 13px;
  }
  .post-large-asset-meta-reading-time {
    bottom:8px;
    right:15px;
  }
  .post-large-asset-meta-published-date {
    bottom:8px;
    left:15px;
  }
}


  /*End of what is only relevent for mobile users viewing in desktop mode*/



/*Post Small Asset Group Mobile*/

@media only screen and (max-width: 1023px)  {

  .post-small-asset {
  }
  .post-small-asset-header {
    padding: 5px 18px 10px 20px;
  }
  .post-small-asset-image {
  }
  .post-small-asset-image img {
  }
  .post-small-asset-title {
  }
  .share-section {
    padding-top: 0px;
  }

  }

@media only screen and (max-width: 479px)  {
  .post-small-asset {
  }
  .post-small-asset-image {
    
  }
  .post-small-asset-image img {
    
  }
  .post-small-asset-title {
    
  }
  .post-small-asset-meta {
  }
  .post-small-asset-meta-reading-time {
    bottom:8px;
    right:15px;
  }
  .post-small-asset-meta-published-date {
    bottom:8px;
    left:15px;
  }
}
