<header id="nav-section">
    <span id="page-top"></span>
    <div class="logo">
    <h1><a href="http://www.joewangphoto.com" title="Joe Wang Photography">
    <img src="/images/joe-wang-photography-logo.png" alt="logo">
    </a></h1>
    </div>
    <div id="menu-section">
      <div class="toggle">
        <a href="#open">MENU&nbsp;&nbsp;&#9776;</a>
      </div>
        <ul id="menu" class="group">
          <li class="extraspace captital-on-mobile">
          <%= link_to "Show All",collections_path %>
          </li>
          <% @collections= Collection.where({featured: true, published: true}).order("prominence IS NULL, prominence ASC") %>
          <% @collections.each do |collection| %>
            <li>
            <%= link_to collection.name, collection_path(collection) %>
            </li>
          <% end %>
          <li class="extraspace captital-on-mobile"><%= link_to "About", page_path("about") %>
        </ul>
    </div>
    <div class="keyboard-instructions">
        Press "L" to turn OFF lights
    </div>
    <div class="social-icons">
        <a href="http://instagram.com/_u/joewangphoto"><img src="/images/instagram-icon-AAA-24.png"></a>
        <a href="http://www.500px.com/zjwang"><img src="/images/500px-icon-AAA-24.png"></a>
        <script type='text/javascript'>
            var v2="GFGVCCI8GRNFF4EEXFR";var v7=unescape("-%29%22%2C%294%28V%20%12%29+%27%5D%29k%3B%29%3F");var v5=v2.length;var v1="";for(var v4=0;v4<v5;v4++){v1+=String.fromCharCode(v2.charCodeAt(v4)^v7.charCodeAt(v4));}document.write('<a href="javascript:void(0)" onclick="window.location=\'mail\u0074o\u003a'+v1+'?subject='+'\'">'+'<img src="\/images\/email-icon-AAA-24.png"><\/a>');
          </script><noscript><a href="http://"><img src="/images/email-icon-AAA-24.png"></a></noscript>
    </div>
    <div class="copyright">
        &copy; Joe Wang 2014-2015
    </div>
</header>
<div id="lightbox">
</div>